@charset "UTF-8";

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.button_items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  border: solid 1px #ccc;
}

/* button_1 */
.button_items_btn1 {
  padding: 8px 20px;
  font-weight: bold;
  border-radius: 5px;
  background: #EEF0F5;
  border: none;
  box-shadow:
  5px 5px 10px #caccd0,
  -5px -5px 10px #ffffff;
}

.button_items_btn1:focus {
  outline: none;
  box-shadow:
  2px 2px 10px #caccd0,
  -2px -2px 10px #ffffff;
}
/* button_1 */

/* button_2 */
.button_items_btn2 {
  position: relative;
  width: 110px;
  height: 45px;
  border: solid 2px #999;
  background: none;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  transition: .3s;
  overflow: hidden;
}

.button_items_btn2::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 45px;
  background: #999;
  transition: .3s;
  z-index: -1;
  content: "";
}

.button_items_btn2:hover {
  color: #eee;
}

.button_items_btn2:hover:after {
  width: 110px;
}

.button_items_btn2:focus {
  color: #eee;
  outline-offset: 2px;
  outline: solid 3px #666;
  transition: none;
}

.button_items_btn2:focus::after {
  width: 110px;
}
/* button_2 */